@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: 'Comfortaa', display;
}
.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./glocery_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 75%;
}

.card-style{
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  background-color: rgba(255,255,255,0.4);
  backdrop-filter: blur(2px);
}